<h3>Birthday list</h3><br>
<div class="box-login">
    <form action="/list" method="post">
    <input type="text" id="username" name="name" placeholder="Name">
    <input type="text" id="date" name="date" placeholder="DOB">
    <input type="submit" value="add" >
    </form>
    <form action="/try" >
    <input name="id" palaceholder="enter id hear"> 
    <input type="submit" value="Serch">
    </form>
</div>
